.pay {
    display: flex;
    text-align: center;
    gap: 20px;
    &-transaction {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-certification {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-secure img {
        max-width: 90px;
        height: 34px;
        margin: 0 5px;
    }
    &-social {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-list {
        display: flex;
        align-items: center;
    }
    &-follow i {
        font-size: 28px;
        margin: 0 8px;
    }
@media screen and (max-width: 767px) {
    flex-direction: column;
    &-transaction,
    &-certification,
    &-social {
        width: 100%;
    }
}
}